* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

header {
  background: rgb(106, 241, 174);
  margin-top: 0;
  padding: 10px;
}

.wrapper .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.wrap,
#profile {
  margin: 10px 5px;
  padding: 10px;
  flex-grow: 1;
  background: rgb(106, 241, 174);
}

.navbar {
  margin-top: 5px;
}

ul .navbar {
  list-style: none;
  margin-bottom: 50px;
}

.navbar li {
  background: white;
  margin: 0 5px;
  margin-bottom: 10px;
  padding: 0;
}

a {
  text-decoration: none;
  border-left: 10px;
  border-right: 10px;
  color: #222222;
  font-weight: bolder;
}

.navbar a {
  font-size: 1.2em;
  display: block;
  padding: 10px 15px;
}

p {
  font-size: 1.6em;
  margin-bottom: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  max-width: 100%;
}

h2 {
  padding: 5px;
}

footer {
  background: rgb(106, 241, 174);
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px;
}

.footernav {
  display: none;
}

@media (min-width: 768px) {
  .spread,
  .footernav {
    display: flex;
  }

  .top {
    display: none;
  }

  .spreader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar {
    margin: 0 5px;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .spread {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .wrap {
    flex-basis: 45%;
  }

  #profile {
    display: flex;
    flex-direction: row-reverse;
  }

  #profile p {
    padding-left: 0;
  }

  .navbar li {
    background: white;
    border-style: groove;
    border-width: 5px;
    border-color: black;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 0;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footernav li {
    background: white;
    border-style: groove;
    border-width: 5px;
    border-color: black;
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .spreader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .wrap {
    flex-grow: 2;
    flex-basis: 25%;
  }
}
