* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
}

.wrapper {
  justify-content: center;
  align-items: center;
  width: 80%;
  display: flex;
  flex-flow: wrap;
}

.wrapper > * {
  justify-content: center;
  flex: 1 1 auto;
}

@media (min-width: 768px) {
}
